body {                
    color: #000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;    
    line-height: 1.4;
    color: #111111;
    background-color: white;
    margin: 0;
    min-width: 600px;
}
#map {    
    /* set size via JS */
    cursor: default;
}

#input {
    float: left;                
    margin-left: 10px; 
    /*padding-right: 15px; */
}

#info {
    margin-top: 10px;
    border: lightgray groove thin;
    display: none;
    padding: 5px;
    overflow: auto;
}
#info a {
    padding-right: 5px;
}
#input, #instructions {
    width: 280px;
}
.pointInput {
    width: 235px;
    float: left;
}

.pointResolveFound a {
    background-color: white;
    padding-left: 4px;
    padding-right: 3px;    
}
.pointResolveFound {
    overflow: hidden;
    max-height: 24px;
    font-size: 10px;
    color: blue;
    float: right;
    cursor: pointer;    
    margin-top: -20px;
    margin-right: 2px;    
}

.pointResolveError {
    float: left;
    font-size: 12px;
    padding-bottom: 4px;
    width: 100%;
    text-align: right;
}

.boxSizingBorder {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.warn {
    color: orange;
}
.error, .pointResolveError {
    color: red;
}
#moreattribution a {
    text-decoration: none;
    color: black
}
#moreattribution {
    padding-top: 20px;
    color: #666666                    
}
#locationpoints {
    padding-bottom: 10px;
    float: left;
}
.pointDiv img {
    margin-top: 4px;
    padding-left: 3px;
    padding-right: 3px;
    float: left;
}
.left {
    float: left;
}
.right {
    float: right;
}
#routeDetails {
    padding: 20px;
    font-size: 12px;
}
.hidden {
    display: none;
}
.no_link {
    text-decoration: none;
    color: black;
}
.no_link img {
    margin-bottom: -10px;
}
.small_text {
    font-size: small;
}
#options {
    padding-bottom: 10px;
    padding-left: 20px;
}
.bold {
    font-weight: bold;
}
#header_img {
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 15px;
}
#header_img img {
    width: 230px;
}
#gpxExportButton {
    margin-top: -3px;
}
#gpxExportButton img {
    padding-left: 6px;
}
#searchButton {
    float: right;
    margin-bottom: 5px;
}

#searchButton:hover { cursor: pointer; }
.clear {
    clear: both;
}
#hosting {
    display: none;
    /*    float: left;*/
    padding-top: 4px;
    padding-bottom: 10px;
    /* color: #666666; */
    font-size: smaller;
    opacity: 0.8;
    width: 200px;
}
#hosting a {
    text-decoration: none;
    color: #00cc33;
}
#exportLink {
    padding-left: 5px;
    padding-top: 2px;
    float: left;
}

tr.instruction {
    cursor: pointer;
    border-bottom: #dadada dashed thin;
}
#instructions {
    table-layout:fixed;
    border-collapse: collapse;
    padding-top: 10px;
    width: 100%;
    font-size: smaller;
}

#instructions th, #instructions td {
    padding: 6px 3px;
}

td.instr_title {
    width: 130px;
}
td.instr_distance {
    min-width: 50px;
    float: right;    
    color: gray;
    text-align: right;
}

#instructions tr .instr_pic {
    width: 20px;
}
td img.pic {    
    max-height: 24px;
    max-width: 16px;
}

.vehicle-btn {
    padding: 0;
    width: 32px;
    height: 32px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    background-image: linear-gradient(to bottom, white, #e7e7e7);
}

.vehicle-btn img {
    width: 24px;
    height: 24px;
}

.selectvehicle {
    // background-clip: padding-box;
    background-color: #bbb;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    background-image: linear-gradient(to bottom, #9f9f9f, #e7e7e7);    
}

.complete-1, .complete-2 { border: 1px solid #999; background: #FFF; overflow: auto; }
.complete-1 strong, .complete-2 strong { font-weight: normal; color: #04B431; }
.autocomplete-suggestion { 
    padding: 5px 5px; 
    white-space: nowrap; 
    overflow: hidden;
    font-size: small;
    background-image: linear-gradient(to bottom, white, #e7e7e7);
}
.autocomplete-selected { 
    padding: 5px 5px; background: #e7e7e7; 
    background-image: linear-gradient(to bottom, #9f9f9f, #e7e7e7);
}
.light { font-weight: lighter; color: #9f9f9f; font-size: smaller }
.wikilink { float: right; }
.wikilink img { max-width: 16px; }

.nameseg { /*border-top: #dadada dashed thin;*/ }
.cityseg { float: left; font-size: 10px; }
.moreseg { float: right; font-size: 9px; }

.pointFlag {
    width: 16px;
    height: 16px;
}
.pointFlag:hover { cursor: n-resize; }
.pointDiv { 
    margin: 6px 0;
}
.pointDelete {
    float: left;
    margin-top:5px;
    margin-left: 5px;
    display: none;
    font-weight:normal;
    color: #000;
    font-size: 10px;
}
.pointAdd { 
    margin-left: 7px;
    font-weight:bold;
    float: left;
    color: #000;
    font-size:14px; 
}
.pointDelete:hover, .pointAdd:hover { cursor: pointer; }

#expandDetails {
    color: gray;
    font-size:14px; 
    float: right;
    font-weight: bold;    

    width: 20px;
    height: 20px;    
    background-image: linear-gradient(to bottom, white, #e7e7e7);
}
#moreButton {
    background-image: linear-gradient(to bottom, white, #e7e7e7);
}